name: Build and publish assets
on:
  push:
    branches:
      - main
  # this allows us to trigger manually
  workflow_dispatch:

env:
  IMAGE_NAME: tpp-database-utils
  IMAGE_ID: ghcr.io/opensafely-core/tpp-database-utils

permissions:
  packages: write
  contents: write

jobs:
  build-and-publish-docker-image:
    runs-on: ubuntu-latest
    name: Build and publish docker image
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up Just
      uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
    - name: Build image
      run: just docker/build prod
    - name: Log into GitHub Container Registry
      run: docker login https://ghcr.io -u ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }}
    - name: Push image to GitHub Container Registry
      run: |
        docker tag "$IMAGE_NAME" "$IMAGE_ID:latest"
        docker push "$IMAGE_ID:latest"
