---
name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Check formatting, linting and import sorting
        run: just check

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
      - name: Run tests
        run: |
          just docker/test
